{% load static %}
<div class="container">
    <div class="header_section_top">
       <div class="row">
          <div class="col-sm-12">
             <div class="custom_menu">
                <ul>
                   <li><a href="{% url 'index' %}">Home</a></li>
                   <li><a href="{% url 'get_cart' %}">Cart</a></li>
                   <li><a href="{% url 'register' %}">Register</a></li>
                   <li><a href="{% url 'login' %}">Log in</a></li>
                   <li><a href="{% url 'logout' %}">Log out</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
